.features {
  display: flex;
  align-items: center;
  width: 100%;
  background: transparent;
  position: relative;
  min-height: 80vh;
  padding: 64px 0;
}

.featureTitle {
  align-items: center;
  color: var(--gray12);
  display: inline-flex;
  gap: 8px;
}

[data-theme='dark'] .featureTitle {
  color: var(--gray4);
}

.tickContainer {
  background-color: var(--sky7);
  border: 1px solid var(--sky10);
  border-radius: 100%;
  display: grid;
  font-size: 12px;
  height: 20px;
  place-items: center;
  width: 20px;
}

.tickIcon {
  height: 12px;
  fill: var(--sky12);
  width: 12px;
}

.featureDescription {
  color: var(--gray11);
}

[data-theme='dark'] .featureDescription {
  color: var(--gray8);
}
