.features {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 80vh;
  padding: 64px 0;
}

[data-theme='dark'] .features {
  background-color: var(--gray-12);
}

.featureTitle {
  align-items: center;
  color: var(--gray-12);
  display: inline-flex;
  gap: 8px;
}

[data-theme='dark'] .featureTitle {
  color: var(--gray-4);
}

.tickContainer {
  background-color: var(--sky-7);
  border: 1px solid var(--sky-10);
  border-radius: 100%;
  display: grid;
  font-size: 12px;
  height: 20px;
  place-items: center;
  width: 20px;
}

.tickIcon {
  height: 12px;
  fill: var(--sky-12);
  width: 12px;
}

.featureDescription {
  color: var(--gray-11);
}

[data-theme='dark'] .featureDescription {
  color: var(--gray-8);
}
