.quoteContainer {
  align-items: flex-start;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: relative;
  text-decoration: none;
}

[data-theme='dark'] .quoteContainer {
  background-color: var(--gray-12);
}

.quoteInnerContainer {
  display: flex;
  gap: 8px;
}

.quoteHeader {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.quoteTitle,
.quoteSubtitle {
  color: var(--gray-11);
}

[data-theme='dark'] .quoteTitle,
[data-theme='dark'] .quoteSubtitle {
  color: var(--gray-9);
}

.quoteText {
  color: var(--gray-12);
  text-align: left;
}

[data-theme='dark'] .quoteText {
  color: var(--gray-6);
}

.quotesSection {
  background: radial-gradient(circle, var(--sky-4) 0%, white 65%);
  display: grid;
  place-items: center;
}

[data-theme='dark'] .quotesSection {
  background: radial-gradient(circle, var(--blue-12) 0%, var(--gray-12) 65%);
}

.quotesContainer {
  text-align: center;
}

.quotesInnerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.icon {
  bottom: 18px;
  height: 16px;
  position: absolute;
  right: 18px;
  width: 16px;
}

[data-theme='dark'] .darkIcon {
  fill: white;
}
