/*
.tsd-panel.tsd-hierarchy {
  display: none;
}

.tsd-kind-method .tsd-type-parameters-title,
.tsd-kind-constructor .tsd-type-parameters-title,
.tsd-kind-function .tsd-type-parameters-title {
  display: none;
}

.tsd-kind-method .tsd-type-parameters,
.tsd-kind-constructor .tsd-type-parameters,
.tsd-kind-function .tsd-type-parameters {
  display: none;
}

.tsd-kind-method .tsd-parameters-title,
.tsd-kind-constructor .tsd-parameters-title,
.tsd-kind-function .tsd-parameters-title {
  display: none;
}

.tsd-kind-method .tsd-parameters,
.tsd-kind-constructor .tsd-parameters,
.tsd-kind-function .tsd-parameters {
  display: none;
}

.tsd-kind-method .tsd-returns-title,
.tsd-kind-constructor .tsd-returns-title,
.tsd-kind-function .tsd-returns-title {
  display: none;
}

.tsd-sources {
  display: none;
}

dl.tsd-comment-tags dt {
  margin-bottom: 10px;
}

pre {
  margin-top: 10px;
  margin-bottom: 10px;
}
*/
