.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - var(--ifm-navbar-height));

  position: relative;
  background: linear-gradient(
    315deg,
    var(--blue7) 3%,
    var(--sky7) 38%,
    var(--yellow7) 68%,
    var(--green7) 98%
  );
  animation: gradient 95s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.bouncyArrow {
  transform: translateX(-50%);
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.heroTitle {
  font-size: 127px;
  font-weight: 300;
  color: var(--sky12);
}

.heroSubtitle {
  font-size: 30px;
  font-weight: 300;
  color: var(--sky12);
  line-height: 1.2;
  max-width: 340;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: absolute;
  width: 200%;
  height: 100vh;
  animation: wave 800s -300s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 1440s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 1600s -600s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
