.videoContainer {
  width: 100%;
  max-width: 832px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: var(--shadow-elevation-medium);
}

.videoContainer video {
  width: 100%;
  height: auto;
  max-height: 610px;
  background: #1d1d1d;
  border-radius: 12px;
  display: block;
}
