.videoContainer {
  width: 100%;
  max-width: 832px;
  height: 0;
  padding-bottom: 55.59%;
  position: relative;
  overflow: hidden;
}

.videoContainer video {
  position: absolute;
  top: 0;
  width: fit-content;
  height: 100%;
  background: #1d1d1d;
  left: 50%;
  transform: translateX(-50%);
  max-height: 610px;
  border-radius: 12px;
  box-shadow: var(--shadow-elevation-medium);
}
