.playground {
  border: 1px solid var(--gray-3);
  border-radius: 7px;
  min-height: 600px;
  width: 100%;
}

.visuallyHidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
