/* Hide the type parameter listings for methods and such. */
.tsd-type-parameters-title,
.tsd-type-parameters {
  display: none;
}

/* Add margin around example code blocks */
.tsd-comment-tags pre {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tsd-panel-group.tsd-index-group {
  display: none;
}