name: preview

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - '.github/workflows/test.yml'
      - 'assets/**'
      - 'docs/**'
      - 'example/**'
      - 'site/**'
      - 'test/**'
      - '.npmignore'
      - '.prettierignore'
      - '.prettierrc'
      - '.renovaterc.json'
      - '*.md'
      - 'LICENSE'

jobs:
  release:
    name: Release preview build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Release preview version
        run: npm run release:preview
